/**
 *  This file sets all properties related to colors.
 */
:root
{
  // Set a common saturation. This makes sure that all colors fit together well.
  --saturation: 65%;

  // Set a common lightness. We can use this for the regular colors to make sure
  // they fit well together. We should only deviate for white and black.
  --lightness: 50%;

  // Determine a common palette of colors.
  --hue-red: 0;
  --red: hsl(var(--hue-red), var(--saturation), var(--lightness));

  --hue-orange: 30;
  --orange: hsl(var(--hue-orange), var(--saturation), var(--lightness));

  --hue-yellow: 50;
  --yellow: hsl(var(--hue-yellow), var(--saturation), var(--lightness));

  --hue-green: 125;
  --green: hsl(var(--hue-green), var(--saturation), var(--lightness));

  --hue-turquoise: 175;
  --turquoise: hsl(var(--hue-turquoise), var(--saturation), var(--lightness));

  --hue-blue: 210;
  --blue: hsl(var(--hue-blue), var(--saturation), var(--lightness));

  --hue-purple: 285;
  --purple: hsl(var(--hue-purple), var(--saturation), var(--lightness));

  --hue-pink: 345;
  --pink: hsl(var(--hue-pink), var(--saturation), var(--lightness));

  // This black has the slightly hint of red to give the app a warmer feeling.
  --black: hsl(0, var(--saturation), 0.05%);

  // Use a light hint of yellow in the white for good contrast with the black.
  --white: hsl(50, var(--saturation), 99.95%);

  // Set the branding colors.
  --background-color: var(--black);
  --primary-accent: var(--pink);
  --secondary-accent: var(--turquoise);
}