################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/api/.vs
/api/api/bin
/api/api/obj
/api/bin/Debug/net6.0
/api/obj
/bin/Debug
/collector/.vs
/collector/obj
/obj
/DataAccesLayer/obj
.env