################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stockpricedb
/pgadmin
/.vs
/api/.vs
/api/api/bin
/api/api/obj
/api/bin/
/api/obj
/api/client
/bin
/collector/.vs
/collector/obj
/collector/bin
/obj
/DataAccessLayer/obj
.env
.vscode