/**
 *  This file applies global styling for the entire application.
 */

@forward 'properties';
@forward 'elements';

html,
body,
#__next
{
  // Reset padding and margin on the body and html elements.
  padding: 0;
  margin: 0;

  // We always want to use the full screen width.
  height: 100%;

  // Install a default font family.
  font-family: 'Open Sans', sans-serif;
}