/**
 *  This file applies global styling for the entire application.
 */

html,
body,
#__next
{
  // Reset padding and margin on the body and html elements.
  padding: 0;
  margin: 0;

  // We always want to use the full screen width.
  height: 100%;

  font-family: Oxygen, sans-serif;
}

a
{
  color: inherit;
  text-decoration: none;
}