/**
 *  This file contains all styling that is specific to the layout header
 *  component.
 */

.header
{
  nav
  {
    // Use Flexbox to create a horizontal layout.
    display: flex;
    flex-direction: row;

    // Center the navigation bar.
    justify-content: center;

    // Make sure that our navigation elements have some space to breathe.
    padding: 0 1rem;
    gap: 1rem;
  }

  hr
  {
    border: 0;
    height: 1px;
    width: 50%;
    position: relative;
    background: linear-gradient(to right, white 0%,black 50%,white 100%);
  }
}