/**
 *  This file contains all styling that is specific to the layout component.
 */

.layout
{
  // Use Flexbox to create a simple single column layout.
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  // Center the layout on the page.
  margin: 0 auto;

  // Make sure that our website's content has some space to breathe.
  padding: 1rem;

  // Keep the width of our layout limited to something that's easy on the eyes.
  max-width: 65rem;

  // Use the full width available.
  height: 100%;

  // Include paddings and borders in the calculations of the dimensions.
  box-sizing: border-box;

  main
  {
    // Make sure that the main content takes all space it needs.
    flex-grow: 1;
    flex-shrink: 0;
  }

  .header
  {
    // Don't ever shrink the header.
    flex-shrink: 0;
  }

  .footer
  {
    // Make sure that the footer makes way for other elements.
    flex-shrink: 1;
  }
}