/**
 *  This file applies global styling for anchor tags.
 */

a
{
  // Get rid of default link styling.
  color: inherit;
  text-decoration: none;

  // The navbar links don't need to attract that much attention by default.
  opacity: 0.75;

  &:hover
  {
    // We should make sure the navbar links are clearly visible when
    // hovered. This also help indicate that they're interactive elements.
    opacity: 1;

    // Animate the opacity.
    transition-duration: var(--animation-speed-quick);
    transition-property: opacity;
  }
}